<div class="col-auto g-0 navbar-light" id="navegacion">
    <div class="d-flex flex-column  pt-2">
        <a class="text-center mt-2" href="/">
            <img src="/img/logo_nav.png" alt="logo" height="190">
        </a>
        
        <ul class="navbar-nav flex-column mt-3 align-items-center align-items-sm-start">
            <li class="item-navegacion" id="pagina_2">
                <a href="/mis_reservas">
                    <img src="/img/mis.png" alt="" class="icono-nav">   
                    Mis Reservas
                </a>
            </li>

            <li class="item-navegacion" id="pagina_1">
                <a href="/nueva_reserva">
                    <img src="/img/nueva.png" alt="" class="icono-nav">   
                    Nueva Reserva
                </a>
            </li>                   
            
            <li class="item-navegacion" id="pagina_3">
                <a href="/buscar_reserva">
                    <img src="/img/busccar.png" alt="" class="icono-nav">   
                    Buscar Reserva
                </a>
            </li>
            
        </ul>

    </div>
</div>

